<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event registration system</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <img id="logo" src="https://toppng.com/uploads/preview/rolls-royce-car-logo-115309605081ubemzvfhb.png" alt="Web Page Logo" />
        <nav>
            <a class="nav" href="">Home</a>
            <a class="nav" href="">Login</a>
            <a class="nav" href="">Register</a>
        </nav>
    </header>
    <section>
        <div id="div1">
            <h2>{{event.title}}</h2>
            <p>Date:{{event.date}}</p>
            <p>Location:{{event.location}}</p>
            <p>Description: {{event.description}}</p>
                <form class="f1" action="{% url 'details' event.pk %}" method="post" >
                    {% csrf_token %}
                    {{form}}
                    <input type="submit" value="Register">
                </form>
        </div>
    </section>
    <footer>
        <p>
            © 2023 Event Registration System
        </p>
    </footer>
</body>
</html>